.body {
    font-family: Helvetica, Arial,sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* ----------------------header styles*/
.header {
    background-color: #1F2937;
}
/* head*/
.head-logo {
    color: #F9FAF8;
    font-size: 24px;
}

/* head links*/
.head-links, .head-sub {
    color: #E5E7EB;
    font-size: 18px;
}

a {text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}

/* head main and sub style */
.head-main {
    color: #F9FAF8;
    font-size: 30px;
    font-weight: 1500;
}

/* head sub */

button {
    width: 90px;
    height: 25px;
    border-radius: 8px;
    background-color: #2882F6;
    color: white;
}

/* image */
.head-img {
    max-width: 250px;
    padding: 0 10px;
    height: auto;
}

img {
    width: 100%;
    height: 100%:
}
/*--------header alignment*/

/*head top align*/
.head-top {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    padding-bottom: 36px;
}

.head-logo {
    padding: 20px;
}

ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

li {
    display: block;
    flex; 0 1 auto;
    padding: 10px;
}

/*head body align*/
.head-body {
    display: flex;
    justify-content: space-around;
    padding-bottom: 36px;
}

.left-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    gap: 10px;
    max-width: 50%;
}
/*---------end of header--*/

/*body*/


.image1, .image2, .image3, .image4 {
    position: relative;
    width: 175px;     
    height: auto;
    overflow: hidden;
}

/*---------body alignment */

.body {
    flex-grow: 1;
}

.body-header {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 900;
    color: #1F2937;
}

.images {
display: flex;
justify-content: space-around;

}

.image1, .image2, .image3, .image4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;

}

.football, .golf, .rugby, .tennis {
    padding: 10px;
    font-size: 18px;
    color: #1F2937;
}

.body-bottom {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    height: 200px;
    justify-content: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
}

.author {
    align-self: end;
    margin-right: 20px;
}

/* footer */

footer {
    flex-shrink:0;
}